.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 15px;
  overflow: hidden;
  position: relative;
}

.headerImage {
  background-color: #cdcdcd;
  background: url(../../assets/images/header.jpg) center;
  background-size: 110%;
  background-repeat: no-repeat;
  position: absolute;
  top: -87%;
  bottom: -5%;
  left: -5%;
  right: -14%;
  z-index: -1;
}